.root {
	border: none;
	color: inherit;
	font: inherit;
	cursor: pointer;

	gap: 4px;
	display: flex;
	color: black;
	padding: 4px 8px;
	align-items: center;
	background: silver;
	justify-content: center;
	box-shadow: inset -1px -1px black, inset 1px 1px white, inset -2px -2px grey,
		inset 2px 2px lightgrey;

	&.icon {
		padding: 4px;
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline-offset: -4px;
		outline: 1px dotted black;
	}

	&:active {
		box-shadow:
			inset -1px -1px 0px white,
			inset 1px 1px 0px black,
			inset -2px -2px 0px whitesmoke,
			inset 2px 2px 0px gray;
	}

	&:disabled {
		color: gray;
		cursor: default;
		text-shadow: 1px 1px 0 white;
		box-shadow:
			inset -1px -1px 0px black,
			inset 1px 1px 0px white,
			inset -2px -2px 0px dimgray,
			inset 2px 2px 0px lightgrey;
	}
}
