@import "./variables";

@font-face {
	font-family: "MS Sans Serif";
	src: url("../../public/fonts/MS Sans Serif.ttf");
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	user-select: none;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

*:focus-visible {
	outline: none;
}

body {
	width: 100dvw;
	height: 100dvh;
	font-size: 0.875rem;
	font-family: "MS Sans Serif";
}

button {
	border: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	padding: 0 0.75rem;
	background: silver;
	text-shadow: 0 0 #222;
	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px white, inset -2px -2px grey,
		inset 2px 2px #dfdfdf;

	&:not(:disabled):active {
		text-shadow: 1px 1px #222;
		box-shadow: inset -1px -1px white, inset 1px 1px #0a0a0a,
			inset -2px -2px #dfdfdf, inset 2px 2px grey;
	}

	&:focus {
		outline: 1px dotted #000;
		outline-offset: -4px;
	}

	&:focus-visible {
		outline: none;
	}

	&:disabled {
		color: gray;
		text-shadow: 1px 1px 0 white;
	}
}

.react-grid-item.react-grid-placeholder {
	opacity: 25%;
	// z-index: -1 !important;
	background: white !important;
}
.react-grid-item {
	transition: all 0ms ease;
	will-change: transform;
}

.react-grid-item.react-draggable-dragging {
	transition: none;
}
